{% extends "todos_api/base.html" %}
    
{% block content %}
    <div class="start">
        <form id="sign_in" name="new" action="/todos/sign_in/" method="POST">
            <fieldset form="sign_in">
            <legend>Log In or</legend>
            Username: <input type="text" name="username">
            <br></br>
            Password: <input type="text" name="password"><br></br>
            <input type="submit" value="Sign In">
            </fieldset>
        </form>
    </div>

    <div class="start">
        <form id="new_user" name="new" action="/todos/new_user/" method="POST">
            <fieldset form="new_user">
            <legend>Sign up</legend>
            Username: <input type="text" name="username">
            <br></br>
            Password: <input type="text" name="password"><br></br>
            <input type="submit" value="Register">
            </fieldset>
        </form>
    </div>

    <div class="access">
        <a id="log_out" href="/todos/log_out/">Log Out</a>
    {%verbatim%}
    <script id="add_key" type="text/template">
    {{#key}}
       
        <form id="add_form" action="/todos/add_todo/{{key}}/" method="POST">
            <fieldset form="add_form">
            <legend>Add to your todo list</legend>
            Task: <br></br>
            <input type="text" name="name"><br></br>
            Goal: <br></br>
            <textarea name="description" form="add_form"></textarea><br></br>
            <input type="submit" value="Add">
            </fieldset>
        </form>

        <form id="update_form" action="/todos/update/{{key}}/{{task}}" method="POST">
            <fieldset form="update_form">
            <legend>Edit Task</legend>
            Task: <br></br>
            <input type="text" name="name" value={{ todo.description }}><br></br>
            Goal: <br></br>
            <textarea name="description" form="update_form">{{ todo.description }}</textarea><br></br>
            <input type="submit" value="Update">
            </fieldset>
        </form>

        <a href="/todos/get_todos/{{key}}/">List Todos!</a>
        // <a href="/todos/update/{{key}}/">List Todos By Date!</a>
        <a href="/todos/get_incomplete/{{key}}/">List Incomplete Todos</a>
        // <a id="delete" href="/todos/delete/{{key}}/{{ todo.id }}">Delete</a>
    {{/key}}
    </script>
    {%endverbatim%}

    {%verbatim%}
    <script id="todo-template" type="text/template">
    {{#todos}}
    <div class="todo">
        {{#todo}}
        <p>{{.}}</p>
        {{/todo}}
    </div>
    {{/todos}}
    </script>
    {%endverbatim%}
    <!-- <p>Completed: {{todo.status}}</p> -->
    </div>
{% endblock %}
